<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27E953E6-D7CA-4038-BA33-36E38547091F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>https://sell.smartstore.com</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Google Chrome"
	if q = "" then
		set q to "https://sell.smartstore.naver.com/#/home/dashboard"
	end if
	make new window	open location q	activateend tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>27E953E6-D7CA-4038-BA33-36E38547091F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sell.smartstore.naver.com</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>https://sell.smartstore.naver.com/#/home/dashboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27E953E6-D7CA-4038-BA33-36E38547091F</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
